body {
  margin: 10px;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

img {
  max-width: 100%;
  width: 100%;
}

time {
  /* this should probably be classed in some way */
  display: block;
}

.arena-events h3 {
  border-bottom: 2px solid #333;
  margin-bottom: 1em;
  padding-bottom: 0.25em;
}

.arena-event-list-item {
  margin: 1.5em 0;
  h4 {
    margin-top: 0;
  }
}

.arena-event-list-load-more {
  margin: 2em 0;
  a {
    text-transform: uppercase;
    width: 60%;
  }
}

.arena-event-detail {
  h3 {
    margin-top: 0;
  }
  margin-bottom: 2em;
  .ics-calendar-link {
    margin-top: 1em;
  }
  .arena-event-detail-register {
    margin-top: 1.5em;
    padding-top: 1.5em;
    border-top: 1px solid #333;
    a.btn {
      min-width: 150px;
      text-transform: uppercase;
    }
  }
  .arena-event-detail-body {
    margin-top: 1.0em;
  }
}

